<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcz.dao.UserDao">
	
	<sql id="base_column_list">
		id,name
	</sql>
	<select id="findAllUser" resultType="com.zcz.entity.User">
		select id,name from user
	</select>
 	<select id="findUserById" resultType="com.zcz.entity.User">
 		select 
		<include refid="base_column_list"></include>
		from user
		where id = #{id}
 	</select>
 	<update id="updateUserById" parameterType="com.zcz.entity.User">
 		update user set name = #{name} where id = #{id}
 	</update>
 	<insert id="insertUser" parameterType="com.zcz.entity.User">
 		insert into user(name) values (#{name})
 	</insert>
 	<delete id="deleteById" parameterType="java.lang.Integer">
 		delete from user where id = #{id}
 	</delete>
</mapper>
